html{
    width: 100%;
    height: 100%;
}

body{
    background-color: lightblue;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;

}

.container{
    background-color: white;
    width: 50%;
    height: 50%;
    max-width: 500px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
}

.input-wrapper{
    display: flex;
    justify-content: space-between;
    border-color: blue;
    border-style: solid;
    width: 80%;


}

.add-button{
    cursor: pointer;
}

.search-bar{
    border: none;
    flex: 1;
    
    

}

.task-list{
    border-color: blue;
    max-height: 60%;
    overflow-y: auto;
    width: 80%;


}